<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>add_bid.jsf</welcome-file>
	</welcome-file-list>
	<data-source>
		<name>java:comp/env/jdbc/ActionBazaarDB</name>
		<class-name>org.apache.derby.jdbc.EmbeddedDriver</class-name>
		<url>jdbc:derby:/tmp/actionbazaar-database;create=true
		</url>
	</data-source>
</web-app>